@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.slider {
  height: 90vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  .slide {
    position: relative;
  }

  .linkContent {
    position: absolute;

    .titleSlide {
      font-size: 50px;
      margin: 10px;
      color: #ffffff;
      text-shadow: 1px 1px 0 hsl(22, 46%, 9%)
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}