@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$textNav: #ffffff;

.navigation {
  border: 1px solid red;
  position: absolute;
  z-index: 2;
  margin: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 0 hsl(22, 46%, 9%);
  justify-content: start;
  padding: 10px;
  width: auto;
  left: auto;
  right: auto;

  .initialPage {
    cursor: pointer;
    width: auto;

    a {
      text-decoration: none;
      color: $textNav;
    }
  }

  .menu {
    margin-left: 50px;
    border: 1px solid yellow;

    a {
      text-decoration: none;
      color: $textNav;
      padding: 20px;
      transition: 0.1s;

      &:hover {
        color: #825a5a;
      }
    }
  }

  .privateOffice {
    border: 1px solid green;
    color: $textNav;
  }
}