.slider {
  border: 1px solid;

  .slideChanger {
    display: flex;

    a {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 10px;

      img {
        border-radius: 50%;
        border: 1px solid;
        width: 100%;
        background-color: #ffdd00;
      }
    }
  }
}